<h1>Portals</h1>
<p>Portals are a link to another company's Slack, you each need a Portal setup to communicate, so make sure someone from the other company has signed in and created a Portal too.</p>

<p>There are four steps involved in creating a Portal</p>
<ol>
  <li><p>Create a channel dedicated to the company2company banter.</p></li>
  <li><p>Setup an Incoming Webhook on Slack, goto http://{your-slack-account}.slack.com/services/new/incoming-webhook) and make note of the token.</p></li>
  <li><p>Setup an Outgoing Webhook on Slack, goto http://{your-slack-account}.slack.com/services/new/outgoing-webhook and make note of the token.</p></li>
  <li><p>Finally, <%= link_to 'create a Portal', new_portal_path %> and add the two tokens, after which you'll be asked to connect Slack with Slack Portals</p></li>
</ol>

<p>Once you've created a portal, you can share your portals unique ID with the other company, or vice versa, and that will connect the portals together.</p>

<h2>Your Portals</h2>
<%= link_to 'Create New Portal', new_portal_path %>
<table>
  <thead>
    <tr>
      <th>Portal #ID</th>
      <th>Channel Name</th>
      <th>Portal Unique #ID</th>
      <th>Connected To</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @portals.each do |portal| %>
      <tr>
        <td><%= portal.id %></td>
        <td><%= portal.channel_name %></td>
        <td><%= portal.uuid %></td>
        <td><%= portal.connected_company %></td>
        <td><%= link_to 'Edit', edit_portal_path(portal) %> | <%= button_to 'Destroy', portal_path(portal), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>